apiVersion: v1
data:
  index.html: |
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>ECS Pod</title>
    </head>
    <body>
        <p style="font-size: 40px;">HOL ECS deployed NGINX site<p>
    </body>
    </html>
kind: ConfigMap
metadata:
  name: index-page-1
  namespace: hello-world
