apiVersion: v1
kind: Namespace
metadata:
  name: nginx-ecs
  labels:
    app: nginx-ecs
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ecs
  namespace: nginx-ecs
  labels:
    app: nginx-ecs
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: nginx-ecs
  template:
    metadata:
      labels:
        app: nginx-ecs
    spec:
      containers:
      - name: nginx-ecs 
        image: harbor.vmware.lab/cnf-nginx/cnf-nginx-v1:v1 
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: nginx-ecs
spec:
   type: NodePort
   ports:
     - nodePort: 32000
       port: 80
       targetPort: 80
   selector:
     app: nginx-ecs
