apiVersion: vmoperator.vmware.com/v1alpha1
kind: VirtualMachineClass
metadata:
  name: vm-small
spec:
  hardware:
    cpus: 2
    memory: 2Gi
---
apiVersion: vmoperator.vmware.com/v1alpha1
kind: VirtualMachine
metadata:
  name: photon-web-linux-vm
  namespace: default
  annotations:
    vmoperator.vmware.com/image-supported-check: disable
spec:
  className: vm-small
  imageName: 192.168.123.254/downloads/photon-web-linux-vm.ova
  powerState: poweredOn
  networkInterfaces:
  - networkName: "VM Network"
    ethernetCardType: "vmxnet3"
  #vmMetadata:
    #configMapName: user-data-photon
    #transport: CloudInit
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: user-data-photon
    namespace: default
data:
  user-data: |
    #cloud-config
    ssh_pwauth: true
    users:
      - name: root
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: false
        passwd: 'VMware1!'
        shell: /bin/bash
